##**üóÇÔ∏è ¬øQu√© es una base de datos?**  
Una base de datos es un sistema organizado para almacenar, gestionar y acceder a grandes cantidades de informaci√≥n de forma eficiente. Est√° dise√±ada para que los datos puedan ser consultados, modificados y mantenidos con facilidad, ya sea por aplicaciones, usuarios o procesos automatizados. Las bases de datos son fundamentales en casi todos los sistemas digitales, desde redes sociales hasta tiendas en l√≠nea.

##**üîó ¬øQu√© es una base de datos relacional?**  
Una base de datos relacional organiza la informaci√≥n en tablas, donde cada fila representa un registro y cada columna un atributo. Estas tablas se relacionan entre s√≠ mediante claves (primarias y for√°neas), lo que permite estructurar los datos y evitar duplicidades. Este modelo facilita consultas complejas, integridad de los datos y escalabilidad, siendo el m√°s utilizado en sistemas empresariales.

##**üíª ¬øQu√© es SQL y por qu√© es importante?**  
SQL (Structured Query Language) es el lenguaje est√°ndar para interactuar con bases de datos relacionales. Permite consultar, insertar, actualizar y eliminar datos, as√≠ como definir estructuras y relaciones. Es una herramienta esencial para analistas, desarrolladores y cient√≠ficos de datos, ya que brinda el control necesario para explorar, transformar y analizar grandes vol√∫menes de informaci√≥n de forma precisa y eficiente.

## üß¨ Radiograf√≠a de una consulta SQL

Una consulta SQL sigue una estructura l√≥gica compuesta por bloques que se ejecutan en un orden espec√≠fico, aunque no necesariamente en el orden en que los escribimos. Aqu√≠ tienes un esquema con los principales componentes:

```
SELECT         -- ¬øQu√© columnas quiero ver?
  columnas_o_expresiones
FROM           -- ¬øDe qu√© tabla(s)?
  tabla_base_o_joins
[WHERE]        -- ¬øQu√© filas quiero filtrar?
  condiciones_de_filtro
[GROUP BY]     -- ¬øC√≥mo agrupo los datos?
  columna_agrupadora
[HAVING]       -- ¬øQu√© grupos cumplen una condici√≥n?
  condiciones_sobre_agregados
[ORDER BY]     -- ¬øEn qu√© orden quiero los resultados?
  columna [ASC|DESC]
[LIMIT]        -- ¬øCu√°ntas filas mostrar?
  n√∫mero_de_filas
```

---

### üîç Ejemplo comentado

```sql
SELECT first_name, last_name, COUNT(*) AS cantidad_rentas  -- Qu√© columnas mostrar
FROM customer c                                            -- De qu√© tabla
JOIN rental r ON c.customer_id = r.customer_id             -- Unir con tabla relacionada
WHERE c.active = 1                                         -- Filtrar clientes activos
GROUP BY c.customer_id                                     -- Agrupar por cliente
HAVING COUNT(*) > 10                                       -- Solo clientes con m√°s de 10 rentas
ORDER BY cantidad_rentas DESC                              -- Ordenar por cantidad descendente
LIMIT 5;                                                   -- Solo los 5 primeros
```

---

### üß† Nota importante
El orden de ejecuci√≥n **l√≥gico** en SQL es:

1. `FROM` (+ `JOIN`)
2. `WHERE`
3. `GROUP BY`
4. `HAVING`
5. `SELECT`
6. `ORDER BY`
7. `LIMIT`

Aunque escribas `SELECT` al inicio, ¬°SQL primero arma las tablas y filtra filas antes de mostrar columnas!

## Cargar base de datos

In [1]:
# Paso 1: Clonar el repositorio
!git clone https://github.com/bradleygrant/sakila-sqlite3.git

Cloning into 'sakila-sqlite3'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 18 (delta 2), reused 1 (delta 1), pack-reused 14 (from 1)
Receiving objects: 100% (18/18), 2.39 MiB | 2.52 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [2]:
import sqlite3
import pandas as pd

In [3]:
# Crear conexi√≥n
conn = sqlite3.connect("/content/sakila-sqlite3/sakila_master.db")

In [4]:
# Ver tablas disponibles
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)
print("Tablas en la base de datos:")
print(tables)

Tablas en la base de datos:
             name
0           actor
1         country
2            city
3         address
4        language
5        category
6        customer
7            film
8      film_actor
9   film_category
10      film_text
11      inventory
12          staff
13          store
14        payment
15         rental

In [8]:
conn.close()

In [9]:
def run_query(query):
  conn = sqlite3.connect("/content/sakila-sqlite3/sakila_master.db")
  df = pd.read_sql(query, conn)
  conn.close()
  return df

## üß™ Ejercicios de SQL con la base Sakila (SQLite)

Trabajaremos sobre la base de datos `sakila.db` montada en el entorno. Aseg√∫rate de tener activa tu conexi√≥n con SQLite. A continuaci√≥n, encontrar√°s 20 ejercicios ordenados por nivel de complejidad para practicar distintos aspectos del lenguaje SQL.

---

### 1Ô∏è‚É£ Selecci√≥n b√°sica  
**Consulta:** Muestra los primeros 10 actores con su `first_name` y `last_name`.

```sql
SELECT first_name, last_name
FROM actor
LIMIT 10;
```

---

### 2Ô∏è‚É£ Filtrado con condiciones  
**Consulta:** Encuentra todas las pel√≠culas con una duraci√≥n mayor a 180 minutos.

```sql
SELECT title, length
FROM film
WHERE length > 180;
```

---


### 3Ô∏è‚É£ Operadores l√≥gicos  
**Consulta:** Muestra las pel√≠culas con clasificaci√≥n 'PG' o 'PG-13'.

```sql
SELECT title, rating
FROM film
WHERE rating IN ('PG', 'PG-13');
```

---

### 4Ô∏è‚É£ Ordenamiento  
**Consulta:** Lista los clientes ordenados por `last_name` ascendente y `first_name` descendente.

```sql
SELECT first_name, last_name
FROM customer
ORDER BY last_name ASC, first_name DESC;
```

---


### 5Ô∏è‚É£ LIKE y patrones  
**Consulta:** Encuentra todas las pel√≠culas cuyo t√≠tulo comienza con "A".

```sql
SELECT title
FROM film
WHERE title LIKE 'A%';
```

---

### 6Ô∏è‚É£ Agrupaci√≥n por categor√≠a  
**Consulta:** Cuenta cu√°ntas pel√≠culas hay por tipo de clasificaci√≥n (`rating`).

```sql
SELECT rating, COUNT(*) AS total
FROM film
GROUP BY rating;
```

### 7Ô∏è‚É£ HAVING y filtros de agregados  
**Consulta:** Muestra solo las clasificaciones que tienen m√°s de 200 pel√≠culas.

```sql
SELECT rating, COUNT(*) AS total
FROM film
GROUP BY rating
HAVING total > 200;
```

---

### 8Ô∏è‚É£ INNER JOIN  
**Consulta:** Muestra los t√≠tulos de las pel√≠culas y los nombres de los actores que act√∫an en ellas.

```sql
SELECT f.title, a.first_name || ' ' || a.last_name AS actor_name
FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
JOIN actor a ON a.actor_id = fa.actor_id
LIMIT 10;
```

---


### 9Ô∏è‚É£ LEFT JOIN  
**Consulta:** Muestra todos los clientes y sus pagos (si existen).

```sql
SELECT c.first_name || ' ' || c.last_name AS cliente, p.amount
FROM customer c
LEFT JOIN payment p ON c.customer_id = p.customer_id
LIMIT 10;
```

---


### üîü Agrupaci√≥n con SUM  
**Consulta:** Muestra cu√°nto ha pagado en total cada cliente.

```sql
SELECT c.first_name || ' ' || c.last_name AS cliente, SUM(p.amount) AS total_pagado
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id;
```

---

### 1Ô∏è‚É£1Ô∏è‚É£ Subconsulta en WHERE  
**Consulta:** Muestra pel√≠culas m√°s largas que el promedio general de duraci√≥n.

```sql
SELECT title, length
FROM film
WHERE length > (
    SELECT AVG(length) FROM film
);
```

---

### 1Ô∏è‚É£2Ô∏è‚É£ JOIN de m√∫ltiples tablas  
**Consulta:** Muestra el nombre del cliente y la pel√≠cula que rent√≥.

```sql
SELECT c.first_name || ' ' || c.last_name AS cliente, f.title
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
LIMIT 10;
```

---

### 1Ô∏è‚É£3Ô∏è‚É£ Funciones de fecha  
**Consulta:** Cuenta cu√°ntos pagos se realizaron por mes.

```sql
SELECT strftime('%Y-%m', payment_date) AS mes, COUNT(*) AS pagos
FROM payment
GROUP BY mes
ORDER BY mes;
```

---


### 1Ô∏è‚É£4Ô∏è‚É£ CASE para categorizar  
**Consulta:** Categoriza las pel√≠culas seg√∫n su duraci√≥n.

```sql
SELECT title, length,
  CASE
    WHEN length < 60 THEN 'Corta'
    WHEN length BETWEEN 60 AND 120 THEN 'Media'
    ELSE 'Larga'
  END AS categoria
FROM film
LIMIT 10;
```

---


### 1Ô∏è‚É£5Ô∏è‚É£ COUNT con DISTINCT  
**Consulta:** ¬øCu√°ntos clientes √∫nicos han realizado al menos un pago?

```sql
SELECT COUNT(DISTINCT customer_id) AS clientes_que_pagaron
FROM payment;
```

---

### 1Ô∏è‚É£6Ô∏è‚É£ Tabla derivada (subconsulta en FROM)  
**Consulta:** ¬øCu√°l es el promedio de duraci√≥n por clasificaci√≥n?

```sql
SELECT rating, avg_length
FROM (
  SELECT rating, AVG(length) AS avg_length
  FROM film
  GROUP BY rating
);
```

In [16]:
query="""
SELECT rating, avg_length
FROM (
  SELECT rating, AVG(length) AS avg_length
  FROM film
  GROUP BY rating
);
"""

run_query(query)

  rating  avg_length
0      G  111.050562
1  NC-17  113.228571
2     PG  112.005155
3  PG-13  120.443946
4      R  118.661538


### 1Ô∏è‚É£7Ô∏è‚É£ Funci√≥n de ventana: RANK  
**Consulta:** Muestra el top 10 de clientes que m√°s han pagado usando ranking.

```sql
SELECT first_name || ' ' || last_name AS cliente,
       SUM(amount) AS total_pagado,
       RANK() OVER (ORDER BY SUM(amount) DESC) AS ranking
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id
LIMIT 10;
```

### 1Ô∏è‚É£8Ô∏è‚É£ Funci√≥n de ventana: PARTITION BY  
**Consulta:** Muestra el total pagado por cada cliente y la suma total por tienda.

```sql
SELECT store_id, first_name || ' ' || last_name AS cliente,
       SUM(amount) AS total_cliente,
       SUM(SUM(amount)) OVER (PARTITION BY store_id) AS total_por_tienda
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id;
```

### 1Ô∏è‚É£9Ô∏è‚É£ ROW_NUMBER()  
**Consulta:** Asigna un n√∫mero de fila a cada pel√≠cula ordenada por duraci√≥n descendente.

```sql
SELECT title, length,
       ROW_NUMBER() OVER (ORDER BY length DESC) AS fila
FROM film
LIMIT 10;
```


### 2Ô∏è‚É£0Ô∏è‚É£ LAG y comparaci√≥n entre pagos  
**Consulta:** Muestra el monto de pago de cada cliente y su diferencia con el pago anterior.

```sql
SELECT customer_id, amount,
       LAG(amount, 1) OVER (PARTITION BY customer_id ORDER BY payment_date) AS pago_anterior
FROM payment
ORDER BY customer_id, payment_date
LIMIT 20;
```